.Rproj.user
.Rhistory
.RData
.Ruserdata
data_gis/log
data_org*
data_gis/epsg4326_channel_1sqkm.gpkg
data_gis/epsg4326_channel_5ksqkm.gpkg
data_gis/epsg4326_lu.tif
data_gis/epsg4326_upa.tif
data_gis/epsg4326_g1waterbody_large_buff100.gpkg
data_gis/epsg4326_dem.tif
data_gis/albers_mask_polygon.gpkg
data_gis/albers_lu.tif
data_gis/albers_dem.tif
data_gis/Toolbox.tbx
